.Masonry {
    &-Viewport {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 253, 249);
        max-height: 1500px;
        overflow: hidden;

        .Section-Title {
            width: 100%;
            box-sizing: border-box;
        }
    }

    &-Container {
        position: relative;
        min-height: 200px;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        padding-block: 50px;
        width: 80%;

        @media (max-width: 768px) {
            height: 700px;
            max-height: 700px;
        }
    }

    &-Fade {
        display: flex;
        justify-content: center;
        z-index: 10;
        align-items: top;
        position: absolute;
        width: 100%;
        height: 150px;
        transform-origin: bottom left;
        bottom: 0;
        left: 0;
    }

    &-Button {
        display: inline-block;
        position: relative;
        color: black;
        text-decoration: none;
        font-weight: 400;
        background-color: white;
        padding-inline: 35px;
        padding-block: 15px;
        border-radius: 50px;
        height: fit-content;

        @media (max-width: 768px) {
            font-size: 0.9rem;
            padding-inline: 25px;
            padding-block: 10px;
        }

        &:after {
            content: "";
            display: block;
            margin: auto;
            margin-top: 3px;
            height: 1px;
            width: 0px;
            background: transparent;
            transition: width 0.3s ease, background-color 0.3s ease;
        }
        &:hover:after {
            width: 100%;
            background: rgb(0, 0, 0);
            border-radius: 40px;
        }
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
