.Navbar {
    display: flex;
    flex-direction: column;
    background-color: #181919;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    &-Top {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-block: 15px;
    }

    &-Menu {
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    &-Logo {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.3rem;
        font-weight: 100;
        gap: 10px;
    }

    &-Language {
        display: flex;
        align-items: center;
        margin-right: 20px;

        select {
            border: none;
            background-color: transparent;
            color: white;
            font-size: 0.9rem;
            font-weight: 700;
            font-family: "Montserrat";
            cursor: pointer;

            &:focus {
                border: none;
                outline: none;
            }

            option {
                color: black;

                &:focus {
                    background-color: white;
                }
            }
        }
    }

    &-Bottom {
        width: 100%;
        display: flex;
        justify-content: center;

        div {
            width: 80%;
            display: flex;
            justify-content: center;
            border-top: 1px solid rgba(255, 255, 255, 0.281);
            padding-top: 3px;
        }
    }

    &-Links {
        display: flex;
        list-style: none;
        gap: 20px;
        font-weight: 400;

        li {
            display: inline-block;
            position: relative;

            &:after {
                content: "";
                display: block;
                margin: auto;
                margin-top: 3px;
                height: 1px;
                width: 0px;
                background: transparent;
                transition: width 0.3s ease, background-color 0.3s ease;
            }
            &:hover:after {
                width: 100%;
                background: rgb(255, 255, 255);
                border-radius: 40px;
            }

            a {
                text-decoration: none;
                color: black;
                color: white;
            }
        }
    }
}
